# Python
__pycache__/
*.pyc
*.log

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Large genomic files
*.fastq
*.fq
*.bam
*.sam
*.vcf
*.bcf
*.cram

# Temporary outputs
outputs/
tmp/
cache/

# Secrets
.env